.btn{
    width: 220px;
    height: 44px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
}
.btn:hover{
    background-color: rgb(73, 71, 71);
}
.smlbtn{
    width: 72px;
    height: 72px;
    border: solid black;
    color: black;
    background-color: white;

    
}
.smlbtn:hover{
    background-color: black;
    color: white;
}